---
import Layout from '../components/layout.astro';
---

<style>
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 35ch;
}
img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 35ch;
}

.form label {
  color: var(--heading);
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-top: 1rem;
  text-transform: uppercase;
}

.form label:first-of-type {
  margin-top: 0;
}

.form input,
.form textarea {
  color: var(--text);
  font-family: inherit;
  font-size: 1rem;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.form textarea {
  height: 100px;
}

.button {
  margin-top:1rem;
  border:none;
}


.heading,
.docs {
  text-align: center;
}
</style>

<Layout
  title="Are you Rachel's biggest fan?"
  description="Then you've come to the right place. Fill out the form below and claim your free mug!"
>
  <main>
    <h2 class="heading">Rachel -- the coolest girl in the world</h2>
    <p>
      If you're here, it's because you love Rachel. You know shes the bomb dot com.
    </p>
    <p>
      She's beautiful, worldly, ambitious, and she loves adventure.
    </p>
    <p>
      Most of all, she loves her family.
    </p>
    <p>
      That's why we're so excited for the first time to offer the one of a kind Rachel mug.
    </p>
    <div>
      <img
          src="/images/mug.png"
        />
    <p>
      This mug is made only from the highest quality Peruvian ceramic. Buy it once, and it will last you a lifetime.
    </p>

    <p>
      We wanted to make a mug that not only explicitly said "Rachel's #1 fan" but expressed through its construction that this was a mug for Rachel, for the ages.
    </p>

    <p>
      This mug can be used anywhere, either in your home, or when life takes you for a ride on a horse and buggy.
    </p>

    <img src="/images/solo.png" />

    <p>
      But let's not forget, appreciating Rachel, isn't something you do alone. Rachel is someone you celebrate with your friends and family.
    </p>

    <p>
      We encourage you to get not just one for yourself, but get one for your loved ones. Don't be shy, you're all Rachel's #1 fans!
    </p>

    <img src="/images/group.png" />

    <p>
      If you've read this far, you're probably wondering how you can get your hands on one of these mugs.
    </p>
    <p>
      All that's between you and your mug is a few questions. Answer below, and you're on your way to celebrating the coolest girl in the world, Rachel!
    </p>
    <h2 class="heading">Before getting your mug, a few questions</h2>

    <form
      class="form"
      method="POST"
      name="swag-request"
      action="/success"
    >
    <fieldset>
      <legend>Your name</legend>
      <input type="text" id="name" name="name" />
    </fieldset>

      <fieldset>
        <legend>Do you agree that Rachel is the coolest girl in the world</legend>
        
        <div>
          <input type="radio" id="yes" name="rachel-cool" value="yes" />
          <label for="yes">Yes</label>
        </div>

        <div>
          <input type="radio" id="yes-obviously-shes-cool" name="rachel-cool" value="yes-obviously-shes-cool" />
          <label for="yes-obviously-shes-cool">Yes, obviously, there is no one as cool as her</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Is this website a little much for two people that haven't met yet</legend>

        <div>
          <input type="radio" id="yes" name="website-too-much" value="yes" />
          <label for="yes">Yes</label>
        </div>

        <div>
          <input type="radio" id="yes-obviously-its-sweet" name="website-too-much" value="yes-obviously-its-sweet" />
          <label for="yes-obviously-its-sweet">Yes, but I think it's sweet :)</label>
        </div>

      </fieldset>

      <fieldset>
        <legend>Should Rachel and Jason go on a date and see if sparks fly</legend>
        <div>
          <input type="radio" id="too-soon" name="date" value="too-soon" />
          <label for="too-soon">Too soon to tell</label>
        </div>
        <div>
          <input type="radio" id="yes" name="date" value="yes" />
          <label for="yes">Yes</label>
        </div>
        <div>
          <input type="radio" id="yes-obviously-i-want-sparks" name="date" value="yes-obviously-i-want-sparks" />
          <label for="yes-obviously-i-want-sparks">Yes, obviously, I want to see sparks fly</label>
          </div>
      </fieldset>

      <fieldset>
        <legend>While we tried to be comprehensive in our form, please leave any remarks not captured by the above here</legend>
        <div>
          <textarea name="message"></textarea>
        </div>
      </fieldset>

      <button type="submit" class="button">
        Give me my mug!
      </button>
    </form>
  </main>
</Layout>
