---
import Layout from '../components/layout.astro';
---

<style>
h2 {
  text-align: center;
}
</style>

<Layout
  title="You did it!"
  description="Your Rachel's #1 fan mug is on its way!"
>
  <main>
    <h2>Compliments on your excellent taste in people :)</h2>
  </main>
</Layout>
